.menu {
  height: 2.5em;
  line-height: 2.5;
  color: var(--text-light);
  background: var(--bg);
  text-align: center;
}
.menu > a {
  color: var(--text-gray);
}
.menu button {
  display: inline-block;
  width: 80%;
  border-radius: var(--border-radius);
  color: var(--white);
  background: var(--primary);
  line-height: 1.5;
}