html, body {
    font-family: var(--font-zn);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-dark);
    background: var(--bg);
    min-width: 320px;
    font-size: var(--font-base);
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

button, 
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  appearance: none;
}

img {
  width: 100%;
  font-size: 0;
  line-height: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  line-height: normal;
}
a {
  color: inherit;
  text-decoration: none;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input::placeholder {
  color: var(--text-lighter);
}
/* typesetting */
no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex > * {
  flex: 1
}

/* color */
.color-primary {
  color: var(--primary);
}
.color-dark {
  color: var(--text-dark);
}
.color-gray {
  color: var(--text-gray);
}
.color-light {
  color: var(--text-light);
}
.color-lighter {
  color: var(--text-lighter);
}
.color-white {
  color: var(--white);
}

/* border */
.border {
  border: var(--border);
}
.border-top {
  border-top: var(--border);
}
.border-left {
  border-left: var(--border);
}
.border-right {
  border-right: var(--border);
}
.border-bottom {
  border-bottom: var(--border);
}
.border-vertical {
  border-top: var(--border);
  border-bottom: var(--border);
}
.border-horizontal {
  border-left: var(--border);
  border-right: var(--border);
}

/* text-align*/
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}

/* font family */
.font-en {
  font-family: var(--font-en);
}
/* font-size*/
.font-large {
  font-size: var(--font-large);
}
.font-larger {
  font-size: var(--font-larger);
}
.font-largest {
  font-size: var(--font-largest);
}
.font-small {
  font-size: var(--font-small);
}
.font-smaller {
  font-size: var(--font-smaller);
}
.font-smallest {
  font-size: var(--font-smallest);
}

.toast {
  position: fixed;
  z-index: 9999;
  top: 30%;
  left: 50%;
  max-width: 80%;
  transform: translateX(-50%);
  word-wrap: break-word;
  text-align: center;
  font-size: 80%;
  color: #fff;
  background: rgba(0, 0, 0, .7);
  padding: .5em 1em;
  border-radius: .5em;
}

.toast.fade-in {
  animation: fadeIn linear 0.25s forwards;
}
.toast.fade-out {
  animation: fadeOut linear 0.25s forwards;
}

.fade-enter-active {
  animation: fadeIn linear 0.25s forwards;
}
.fade-leave-active {
  animation: fadeOut linear 0.25s forwards;
}
.slide-enter-active {
  animation: slideIn linear 0.25s forwards;
}
.slide-leave-active {
  animation: slideOut linear 0.25s forwards;
}

.slide-enter-active {
  animation: slideIn linear 0.25s forwards;
}
.slide-leave-active {
  animation: slideOut linear 0.25s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}